@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Ysabeau+Office&display=swap');
/* .active{
    text-shadow: 5px 10px 40px gray;  
    color: black;
} */
/* .underline {
    color: #0ec9c9;
    font-weight: 800;
    display: inline-block;
    position: relative;
}
.underline.active{
    color: white;
    text-shadow: 0px 5px 20px white;
}
   */
/* .underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #008080;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: white;
  }
  
  .underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(108, 108, 108, 0.2);
    height: 70px;
    font-family: 'Ysabeau Office', sans-serif;
    color: white;
    box-shadow:0px 0px 0px rgb(76, 76, 76);
}
.nav .title{
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.nav ul{
    display: flex;
    align-items: center;
}

.nav ul li{
    list-style: none;
}

.nav ul li a{
    font-size: 20px;
    font-weight: 500;
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    color: rgb(191, 191, 191);
}
.nav ul li a:hover{
    text-shadow: 4px 4px 10px white;
    color: white;
}

.nav .menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}
.nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: black;
    border-radius: 0.2rem;
}
.navbar-scrolled{
    background-color: rgba(255, 255, 255, 0.8);
}
@media(max-width:1079px) {
    .nav .menu{
        display: flex;
    }
    .nav{
        align-items: start;
        flex-direction: column;
    }
    .nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .nav ul.open{
        display: flex;
    }
    .nav ul li{
        width: 100%;
        text-align: center;
    }
    .nav ul li a{
        margin: 0.2rem 0.5rem;
    }

}